In [42]:
import pandas as pd 
import numpy as np

In [43]:
df_present = pd.read_csv("Carmichael_grade3_reading_meanImpute_ED_CE.csv")
df_present

,Local ID,Special Ed Indicator,LEP,Ethnicity,Language,Meal Status,CE,Mock1,Mock2,Final STAAR
0,946936,No,LEP,Hispanic,Spanish,01 - Free,yes,0.18,0.26,0.32
1,962749,Yes,LEP,Hispanic,Spanish,01 - Free,yes,0.24,0.18,0.32
2,961434,No,Other Non-LEP Student,Hispanic,English,01 - Free,yes,0.53,0.50,0.76
3,967999,No,Other Non-LEP Student,Black/African American,English,01 - Free,yes,0.47,0.59,0.62
4,963561,No,Other Non-LEP Student,Black/African American,English,01 - Free,yes,0.53,0.74,0.59
...,...,...,...,...,...,...,...,...,...,...
64,968780,No,LEP,Hispanic,Spanish,01 - Free,No,0.56,0.44,0.71
65,961303,No,Other Non-LEP Student,Hispanic,English,02 - Reduced,No,0.44,0.35,0.41
66,319004,No,Other Non-LEP Student,Hispanic,English,01 - Free,No,0.74,0.76,0.82
67,962320,No,LEP,Hispanic,Spanish,02 - Reduced,No,0.32,0.29,0.44
68,324363,No,Other Non-LEP Student,Black/African American,English,No,No,0.47,0.53,0.59

In [44]:
#hot code 

df1 = pd.get_dummies(data=df_present,columns=["LEP"])
df1

df2 = pd.get_dummies(data=df1,columns=["Ethnicity"])
df2

df3 = df2.rename(columns={'Special Ed Indicator': 'Special_Ed_Ind'})
df3

df4 = df3.rename(columns={'Meal Status': 'Meal_Stat'})
df4

#change to binary
df4['Special_Ed_Ind']= df4.Special_Ed_Ind.map(dict(Yes=1, No=0))
df4

df4['CE']= df4.CE.map(dict(yes=1, No=0))
df4

mapping = {'01 - Free': 1, '02 - Reduced': 1, 'No': 0}
df4 = df4.replace({'Meal_Stat': mapping})

mapping = {'English': 1, 'Spanish': 0}
df4 = df4.replace({'Language': mapping})


df4

,Local ID,Special_Ed_Ind,Language,Meal_Stat,CE,Mock1,Mock2,Final STAAR,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_White
0,946936,0,0,1,1,0.18,0.26,0.32,0,1,0,0,0,0,1,0
1,962749,1,0,1,1,0.24,0.18,0.32,0,1,0,0,0,0,1,0
2,961434,0,1,1,1,0.53,0.50,0.76,0,0,1,0,0,0,1,0
3,967999,0,1,1,1,0.47,0.59,0.62,0,0,1,0,0,1,0,0
4,963561,0,1,1,1,0.53,0.74,0.59,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,968780,0,0,1,0,0.56,0.44,0.71,0,1,0,0,0,0,1,0
65,961303,0,1,1,0,0.44,0.35,0.41,0,0,1,0,0,0,1,0
66,319004,0,1,1,0,0.74,0.76,0.82,0,0,1,0,0,0,1,0
67,962320,0,0,1,0,0.32,0.29,0.44,0,1,0,0,0,0,1,0
68,324363,0,1,0,0,0.47,0.53,0.59,0,0,1,0,0,1,0,0

In [45]:
#move first column to the end
cols = list(df4.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('Final STAAR')) #Remove b from list
df5 = df4[cols+['Final STAAR']] #Create new dataframe with columns in the order you want
#len(df_new2.columns)
df5

,Local ID,Special_Ed_Ind,Language,Meal_Stat,CE,Mock1,Mock2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_White,Final STAAR
0,946936,0,0,1,1,0.18,0.26,0,1,0,0,0,0,1,0,0.32
1,962749,1,0,1,1,0.24,0.18,0,1,0,0,0,0,1,0,0.32
2,961434,0,1,1,1,0.53,0.50,0,0,1,0,0,0,1,0,0.76
3,967999,0,1,1,1,0.47,0.59,0,0,1,0,0,1,0,0,0.62
4,963561,0,1,1,1,0.53,0.74,0,0,1,0,0,1,0,0,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,968780,0,0,1,0,0.56,0.44,0,1,0,0,0,0,1,0,0.71
65,961303,0,1,1,0,0.44,0.35,0,0,1,0,0,0,1,0,0.41
66,319004,0,1,1,0,0.74,0.76,0,0,1,0,0,0,1,0,0.82
67,962320,0,0,1,0,0.32,0.29,0,1,0,0,0,0,1,0,0.44
68,324363,0,1,0,0,0.47,0.53,0,0,1,0,0,1,0,0,0.59

In [46]:
ID = df5.iloc[:, 0:1]
X = df5.iloc[:, 0:15]
y = df5['Final STAAR']

In [47]:
ID

    Local ID
0     946936
1     962749
2     961434
3     967999
4     963561
..       ...
64    968780
65    961303
66    319004
67    962320
68    324363

[69 rows x 1 columns]

In [48]:
X

,Local ID,Special_Ed_Ind,Language,Meal_Stat,CE,Mock1,Mock2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_White
0,946936,0,0,1,1,0.18,0.26,0,1,0,0,0,0,1,0
1,962749,1,0,1,1,0.24,0.18,0,1,0,0,0,0,1,0
2,961434,0,1,1,1,0.53,0.50,0,0,1,0,0,0,1,0
3,967999,0,1,1,1,0.47,0.59,0,0,1,0,0,1,0,0
4,963561,0,1,1,1,0.53,0.74,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,968780,0,0,1,0,0.56,0.44,0,1,0,0,0,0,1,0
65,961303,0,1,1,0,0.44,0.35,0,0,1,0,0,0,1,0
66,319004,0,1,1,0,0.74,0.76,0,0,1,0,0,0,1,0
67,962320,0,0,1,0,0.32,0.29,0,1,0,0,0,0,1,0
68,324363,0,1,0,0,0.47,0.53,0,0,1,0,0,1,0,0

In [49]:
y

0     0.32
1     0.32
2     0.76
3     0.62
4     0.59
      ...
64    0.71
65    0.41
66    0.82
67    0.44
68    0.59
Name: Final STAAR, Length: 69, dtype: float64

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 10)

In [52]:
X_train

,Local ID,Special_Ed_Ind,Language,Meal_Stat,CE,Mock1,Mock2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_White
44,966119,0,1,1,1,0.32,0.53,0,1,0,0,0,0,1,0
32,961259,0,1,1,1,0.65,0.82,0,0,0,1,0,0,1,0
63,317946,1,1,1,0,0.44,0.41,0,0,1,0,0,1,0,0
7,947646,0,1,1,1,0.38,0.38,0,1,0,0,0,0,1,0
53,961391,0,1,1,1,0.59,0.59,1,0,0,0,0,0,1,0
38,961217,0,1,1,1,0.71,0.76,0,1,0,0,0,0,1,0
67,962320,0,0,1,0,0.32,0.29,0,1,0,0,0,0,1,0
60,962866,0,1,1,1,0.47,0.52,0,1,0,0,0,0,1,0
10,963276,0,1,1,1,0.50,0.47,0,1,0,0,1,0,0,0
50,934217,0,1,1,1,0.53,0.71,0,1,0,0,0,0,1,0
23,970649,0,1,0,1,0.62,0.76,0,0,1,0,0,0,1,0
37,990642,0,1,1,1,0.38,0.74,0,1,0,0,1,0,0,0
39,962203,0,1,1,1,0.47,0.62,0,1,0,0,0,0,1,0
18,939939,0,1,1,1,0.56,0.85,0,0,1,0,0,0,1,0
27,981048,0,1,1,1,0.50,0.56,0,1,0,0,0,0,1,0
4,963561,0,1,1,1,0.53,0.74,0,0,1,0,0,1,0,0
34,965820,0,1,1,1,0.71,0.85,0,0,1,0,0,0,1,0
31,943020,0,1,1,1,0.32,0.32,0,0,1,0,0,1,0,0
1,962749,1,0,1,1,0.24,0.18,0,1,0,0,0,0,1,0
12,965574,1,1,1,1,0.32,0.53,0,0,1,0,0,1,0,0
57,989859,0,1,1,1,0.32,0.24,0,1,0,0,0,0,1,0
45,307376,0,1,1,1,0.44,0.47,0,1,0,0,0,0,1,0
30,963624,0,1,1,1,0.68,0.74,0,0,0,1,1,0,0,0
22,963357,1,1,1,1,0.26,0.38,0,1,0,0,0,0,1,0
65,961303,0,1,1,0,0.44,0.35,0,0,1,0,0,0,1,0
41,971073,0,1,1,1,0.53,0.44,0,0,1,0,0,0,1,0
25,965895,0,1,1,1,0.41,0.32,0,1,0,0,0,0,1,0
48,961644,0,1,1,1,0.47,0.35,0,0,1,0,0,1,0,0
5,304882,0,1,1,1,0.47,0.85,0,1,0,0,1,0,0,0
13,979790,1,1,1,1,0.18,0.29,0,1,0,0,0,0,1,0
14,961209,0,1,1,1,0.32,0.47,0,1,0,0,0,0,1,0
52,941290,1,1,1,1,0.29,0.15,0,0,1,0,0,0,1,0
61,967853,0,1,1,1,0.50,0.74,1,0,0,0,1,0,0,0
33,946378,1,1,0,1,0.24,0.41,0,0,1,0,0,1,0,0
43,951611,0,1,1,1,0.59,0.82,1,0,0,0,0,0,1,0
24,962325,0,1,1,1,0.85,0.91,0,0,0,1,0,0,1,0
11,963266,0,1,1,1,0.59,0.65,0,0,1,0,1,0,0,0
47,963282,0,1,1,1,0.76,0.68,0,1,0,0,0,0,1,0
55,962729,0,1,1,1,0.29,0.35,0,1,0,0,0,0,1,0
16,961428,0,0,1,1,0.21,0.29,0,1,0,0,0,0,1,0
51,962198,0,1,1,1,0.71,0.82,0,0,1,0,0,0,1,0
36,961417,0,1,1,1,0.29,0.47,0,1,0,0,0,0,1,0
54,963616,0,1,1,1,0.38,0.38,0,1,0,0,0,0,1,0
40,990313,0,1,1,1,0.38,0.71,0,1,0,0,0,0,1,0
42,962283,0,1,1,1,0.62,0.79,1,0,0,0,0,0,1,0
0,946936,0,0,1,1,0.18,0.26,0,1,0,0,0,0,1,0
68,324363,0,1,0,0,0.47,0.53,0,0,1,0,0,1,0,0
8,973752,0,1,1,1,0.29,0.68,0,0,1,0,0,0,1,0
58,962245,0,1,1,1,0.65,0.82,0,0,1,0,0,0,1,0
49,965497,0,1,1,1,0.76,0.76,0,0,1,0,0,0,1,0
29,981241,0,1,1,1,0.68,0.88,0,0,0,1,1,0,0,0
28,962094,0,1,1,1,0.35,0.41,0,1,0,0,0,0,1,0
64,968780,0,0,1,0,0.56,0.44,0,1,0,0,0,0,1,0
15,961351,0,1,1,1,0.56,0.82,1,0,0,0,0,0,1,0
9,960252,1,1,1,1,0.29,0.35,0,1,0,0,0,0,1,0

In [53]:
X_test

,Local ID,Special_Ed_Ind,Language,Meal_Stat,CE,Mock1,Mock2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_White
56,954724,1,1,1,1,0.44,0.32,0,0,1,0,0,1,0,0
3,967999,0,1,1,1,0.47,0.59,0,0,1,0,0,1,0,0
2,961434,0,1,1,1,0.53,0.50,0,0,1,0,0,0,1,0
6,947652,0,1,1,1,0.53,0.41,0,1,0,0,0,0,1,0
21,965348,0,1,0,1,0.59,0.68,0,0,1,0,0,0,0,1
26,961473,0,1,1,1,0.21,0.35,0,0,1,0,0,0,1,0
62,973977,0,1,1,0,0.24,0.32,0,0,1,0,0,1,0,0
35,301077,0,1,1,1,0.32,0.47,0,1,0,0,0,0,1,0
46,963632,0,1,1,1,0.21,0.35,0,1,0,0,0,0,1,0
59,945628,0,1,1,1,0.32,0.24,0,1,0,0,0,0,1,0
66,319004,0,1,1,0,0.74,0.76,0,0,1,0,0,0,1,0
20,962774,0,1,1,1,0.62,0.85,0,0,0,1,0,0,1,0
19,965955,0,0,1,1,0.41,0.82,0,1,0,0,0,0,1,0
17,961224,0,1,1,1,0.24,0.15,0,1,0,0,0,0,1,0

In [54]:
y_test

56    0.53
3     0.62
2     0.76
6     0.56
21    0.71
26    0.47
62    0.29
35    0.53
46    0.74
59    0.29
66    0.82
20    0.82
19    0.65
17    0.38
Name: Final STAAR, dtype: float64

In [55]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [56]:
clf.fit(X_train,y_train)

LinearRegression()

In [57]:
y_pred = clf.predict(X_test)

In [58]:
clf.score(X_test, y_test)

0.5448273006063353

In [59]:
df6 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [60]:
df6 = pd.concat([df6,X_test], axis=1)
df6

,Actual,Predicted,Local ID,Special_Ed_Ind,Language,Meal_Stat,CE,Mock1,Mock2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_White
56,0.53,0.380209,954724,1,1,1,1,0.44,0.32,0,0,1,0,0,1,0,0
3,0.62,0.649882,967999,0,1,1,1,0.47,0.59,0,0,1,0,0,1,0,0
2,0.76,0.653543,961434,0,1,1,1,0.53,0.50,0,0,1,0,0,0,1,0
6,0.56,0.516790,947652,0,1,1,1,0.53,0.41,0,1,0,0,0,0,1,0
21,0.71,0.773402,965348,0,1,0,1,0.59,0.68,0,0,1,0,0,0,0,1
26,0.47,0.551922,961473,0,1,1,1,0.21,0.35,0,0,1,0,0,0,1,0
62,0.29,0.437236,973977,0,1,1,0,0.24,0.32,0,0,1,0,0,1,0,0
35,0.53,0.545767,301077,0,1,1,1,0.32,0.47,0,1,0,0,0,0,1,0
46,0.74,0.468166,963632,0,1,1,1,0.21,0.35,0,1,0,0,0,0,1,0
59,0.29,0.407925,945628,0,1,1,1,0.32,0.24,0,1,0,0,0,0,1,0
66,0.82,0.773743,319004,0,1,1,0,0.74,0.76,0,0,1,0,0,0,1,0
20,0.82,0.745258,962774,0,1,1,1,0.62,0.85,0,0,0,1,0,0,1,0
19,0.65,0.813133,965955,0,0,1,1,0.41,0.82,0,1,0,0,0,0,1,0
17,0.38,0.351518,961224,0,1,1,1,0.24,0.15,0,1,0,0,0,0,1,0

In [61]:

df6['abs_diff'] = abs(df6['Actual'] - df6['Predicted'])
df6

,Actual,Predicted,Local ID,Special_Ed_Ind,Language,Meal_Stat,CE,Mock1,Mock2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_White,abs_diff
56,0.53,0.380209,954724,1,1,1,1,0.44,0.32,0,0,1,0,0,1,0,0,0.149791
3,0.62,0.649882,967999,0,1,1,1,0.47,0.59,0,0,1,0,0,1,0,0,0.029882
2,0.76,0.653543,961434,0,1,1,1,0.53,0.50,0,0,1,0,0,0,1,0,0.106457
6,0.56,0.516790,947652,0,1,1,1,0.53,0.41,0,1,0,0,0,0,1,0,0.043210
21,0.71,0.773402,965348,0,1,0,1,0.59,0.68,0,0,1,0,0,0,0,1,0.063402
26,0.47,0.551922,961473,0,1,1,1,0.21,0.35,0,0,1,0,0,0,1,0,0.081922
62,0.29,0.437236,973977,0,1,1,0,0.24,0.32,0,0,1,0,0,1,0,0,0.147236
35,0.53,0.545767,301077,0,1,1,1,0.32,0.47,0,1,0,0,0,0,1,0,0.015767
46,0.74,0.468166,963632,0,1,1,1,0.21,0.35,0,1,0,0,0,0,1,0,0.271834
59,0.29,0.407925,945628,0,1,1,1,0.32,0.24,0,1,0,0,0,0,1,0,0.117925
66,0.82,0.773743,319004,0,1,1,0,0.74,0.76,0,0,1,0,0,0,1,0,0.046257
20,0.82,0.745258,962774,0,1,1,1,0.62,0.85,0,0,0,1,0,0,1,0,0.074742
19,0.65,0.813133,965955,0,0,1,1,0.41,0.82,0,1,0,0,0,0,1,0,0.163133
17,0.38,0.351518,961224,0,1,1,1,0.24,0.15,0,1,0,0,0,0,1,0,0.028482

In [62]:
#convert back one hot encoding
#I did this manually in excel 
#export to excel
df6.to_csv(r'/Users/sukanyasravasti/LR_Reading_Grade3.csv', index = False)